<div class="offset4 span4 form-account-create">	
	<h4 style="text-align: center">Create an Account</h4>
	</br>
	<div class="alert alert-error" ng-show="formError" ng-bind="formError"></div>
	<div class="alert alert-success" ng-show="formSuccess" ng-bind="formSuccess"></div>
	<div ng-show="(!formSuccess)">
		<form class="form-horizontal" ng-submit="create()">
			<div class="control-group">
				<label class="control-label" for="inputEmail">Email</label>
				<div class="controls">
		      <input class="input-large" type="text" ng-model="account.inputEmail" id="inputEmail">
		      <span class="help-inline" ng-show="emailHasError">Sample message...</span>
		    </div>
		  </div>
		  <div class="control-group">
				<label class="control-label" for="inputPassword">Password</label>
				<div class="controls">
					<input class="input-large" type="password" id="inputPassword" ng-model="account.inputPassword">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inputPasswordRepeat">Retype Password</label>
				<div class="controls">
					<input class="input-large" type="password" id="inputPasswordRepeat" ng-model="account.inputPasswordRepeat">
				</div>
			</div>
			<div class="control-group">
		    <div class="controls">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</div>
		</form>
	</div>
</div>