<!doctype html>
<html lang="en" ng-app="chrdb">
<head>
  <meta charset="utf-8">
  <title>chrDB</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/app.css">
</head>
<body class="chrdb-auth" style="padding-top: 50px;">
<div ng-controller="NavCtrl" class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="brand" href="#"><span>chrDB<span class="version">v0.1.0</span></span></a>
      <ul class="nav pull-right">
        <li style="padding: 4px 12px 0 0;"><p class="nav navbar-text" ng-show="userLoggedIn" ng-bind="userData.username"></p></li>
        <li ng-show="userConfig.showManageUserBtn" style="padding-right: 6px;"><button title="Manage your account" class="btn btn-primary"><i class="icon-user icon-white"></i></button></li>
        <li ng-show="userConfig.showCreateUserBtn"><button title="Create an account" class="btn btn-success" ng-click="createAccount()"><i class="icon-user icon-white"></i> Create an account</button></li>
        <li ng-show="userConfig.showLoginBtn"><button title="Sign in" class="btn btn-primary" ng-click="signIn()"><i class="icon-user icon-white"></i> Sign in</button></li>
        <li ng-show="userConfig.showLogoutBtn"><button title="Logout" class="btn btn-danger" ng-click="logout()"><i class="icon-off icon-white"></i></button></li>
      </ul>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12" ng-view></div>
  </div>
</div>
<script src="js/angular.js"></script>
<script src="js/angular-resource.js"></script>
<script src="js/http-auth-interceptor.js"></script>
<script src="js/lodash.min.js"></script>
<script type="text/javascript" src="http://cdn.jsdelivr.net/restangular/latest/restangular.min.js"></script>
<script src="app/app.js"></script>
<script src="app/services.js"></script>
<script src="app/controllers.js"></script>
</body>
</html>
